body {
    background-color: #faf7df90;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

.title{
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.05)
}
.card {
    height: 450px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.imghov {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.imghov:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
}

.card-body {
    display: flex;
    padding: 20px;
    background-color: #ffffff; /* Neutral accent color */
}
.card-body img {
    border-radius: 15px;
    width: 50%;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    
}
.card-body p {
    font-size: 100%;
}
.card-title {
    background-color: #c5955b85; /* Secondary accent color */
    padding: 15px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #000000; /* Light color for contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* <-----------Cheetah Animation ------------> */
.cheetah-animation {
    position: absolute;
    left: 0;
    top: 80%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 10%;
    animation: moveCheetah 2s linear infinite;
}

@keyframes moveCheetah {
    0% {
        left: 0;    
    }
    100% {
        left: 80%;
    }
}

.card-body-cheetah {
    height: 330px;
    display: flex;
    margin-top: 25px;    
    padding: 20px;
    position: relative;
    text-align: center;
}

.card-body-cheetah img,
.card-body-cheetah .content {
    display: none;
    align-content: center;
}

.card-body-cheetah img.active,
.card-body-cheetah .content.active {
    display: block;
}

.card-body-cheetah .content {
    margin-left: 20px;
}


/* <-----------Cheetah Animation ------------> */

@media (max-width:1669px) {
    .card-body img{
        width: 50%;
    }
    .card-body p {
        font-size: 17px;
    }
}

@media (max-width:1312px) {
    .card-body img{
        width: 50%;
    }
    .card-body p {
        font-size: 15px;
    }
}
@media (max-width:1188px) {
    .card-body img{
        width: 55%;
    }
    .card-body p {
        font-size: 13px;
    }
}
@media (max-width:1056px) {
    .card-body img{
        width: 55%;
    }
    .card-body p {
        font-size: 12px;
    }
}

@media (max-width:991px) {

    .card-body img{
        width: 50%;
    }
    .card-body p {
        font-size: 12px;
    }
}
@media (max-width:860px) {

    .card-body img{
        width: 50%;
    }
    .card-body p {
        font-size: 11px;
    }
}
@media (max-width:811px) {
    .card-body img{
        width: 50%;
    }
    .card-body p {
        font-size: 10.2px;
    }
    .card-body-cheetah{
        margin-top: 10px;
    }
    .content{
        font-size: 13px;
    }
    
}
@media (max-width:768px) { 
    .card-body p {
        font-size: 18px;
    }
    .card-body-cheetah{
        margin-top: 10px;
    }
    .content{
        font-size: 11px;
    }
}
@media (max-width:620px) {
    .card-body p {
        font-size: 16px;
    }
    .card-body-cheetah{
        margin-top: 10px;
    }
    .content{
        font-size: 11px;
    }
}
@media (max-width:520px) {
    .card-body p {
        font-size: 13px;
    }
    .card-body-cheetah{
        margin-top: 10px;
    }
    .content{
        font-size: 11px;
    }
}
@media (max-width:382px) {
    .card-body p {
        font-size: 11px;
    }
    .card-body-cheetah{
        margin-top: 10px;
    }
    .content{
        font-size: 11px;
    }
}