/* Set images to fit the initial size of the carousel */
.carousel-item img {
    width: 100%; 
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }
  
  /* Adjust height of the carousel container */
  .carousel {
    position: relative;
    max-height: 30%;
  }