body {
    background-color: #faf7df90;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}

.title {
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.card {
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-body {
    justify-content: center;
    display: flex;
    padding: 1px;
    background-color: #fcf7e9; 
}

.card img {
    height: 340px;
    border-radius: 15px;
    object-fit: cover;
}

.card-body p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 19px;
    color: #30426a; 
}

.card-title {
    margin-top: 15px;
    font-size: 3rem;
    font-weight: bold;
    color: #000000; 
}

.move-image {
    position: relative;
    left: 0;
    top: 50%;
    width: 25%;
    animation: moveImage 2s linear infinite;
}

@keyframes moveImage {
    0% {
        left: 0;
    }
    25% {
        left: 200px;
    }
    50% {
        left: 400px;
    }
    75% {
        left: 600px;
    }
    100% {
        left: 800px;
    }
}