body{
    background-color: #FFFACD;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
}

/* Custom styles for logo overlay */
#logo-overlay {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto; /* Center the logo horizontally */
    text-align: center; /* Center the logo horizontally */
    z-index: 9999;
  }
  
  /* Adjust the size of the logo if needed */
  #logo-overlay img {
    width: 15%; 
    max-width: 220px;
    height: auto;
  }

  /* Set images to fit the initial size of the carousel */
  .carousel-item img {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
  /* Adjust height of the carousel container */
  .carousel {
    position: relative;
    max-height: 30%;
  }

 /* Gradient overlays */
.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 1;
}

/* Top gradient */
.carousel::before {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0),#FFFACD);
}

/* Bottom gradient */
.carousel::after {
  top: 0;
  background: linear-gradient(to top, rgba(0,0,0,0),#FFFACD);
}

/* Hide the welcome header by default */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Show the welcome header when it becomes visible */
.visible {
  opacity: 1;
}

/* Style for the welcome header */
#welcome-header {
  font-size: 8vh;
  color: #000000; /* Adjust the font color as needed */
  text-align: center;
  margin-top: 7%;
  transform: translateY(-50%);
}

.card {
  margin-top: 1%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  height: 400px; /* Fixed height for the card */
  margin-bottom: 20px; /* Adjust vertical spacing between cards */
}

.card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the entire space while maintaining aspect ratio */
  transition: filter 0.3s;
}



